.header_container {
    width: inherit;
    height: 100px;
    background-color: rgb(25, 25, 112);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
  
}

.header {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    flex-wrap: wrap;
    position: relative;
}

.active div {
    background-color: #878ca1;
    border-radius: 70px;
}

.header_p {
    color: gold;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}